.nav {
    display: flex;
    justify-content: center;
}

.nav li {
    list-style: none;
    margin: 0 15px;
}

.nav li a {
    text-decoration: none;
}

a.nav-link {
    color: black;
    font-size: 24px;
}

div.header {
    margin-bottom: 25px;
    ;
    border-bottom: 1px solid gray;
}

div.block {
    background-color: #F0F0F0;
    width: 550px;
    min-height: 200px;
    padding: 25px;
    padding-bottom: 0px;
    margin: 0 auto;
    border-radius: 25px;
}

.block a,
.games a {
    font-size: larger;
}

.games {
    min-height: 200px;
    position: relative;
}

a {
    color: black;
}

p.timer {
    position: absolute;
    font-size: larger;
    bottom: -25px;
}

form {
    position: relative;
    padding: 1px;
    padding-bottom: 50px;
    margin: 0 auto;
    border-radius: 25px;
}

form input {
    display: block;
    width: calc(100% - 8px);
    height: 50px;
    margin-bottom: 25px;
    border-radius: 5px;
    font-size: 24px;
}

form button {
    display: block;
    min-width: 100px;
    height: 50px;
    border-radius: 5px;
    font-size: 24px;
}

form small {
    position: absolute;
    bottom: 10px;
}

table {
    border-collapse: separate;
    border-spacing: 15px 0;
}

table,
th,
td {
    font-size: 20px;
    border: none;
}

tr:not(:first-child) {
    cursor: pointer;
}

.messages {
    position: fixed;
    width: 40%;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 16px;
    border-radius: 25px;
    text-align: center;
    transition: 0.5s;
}

.messages li {
    position: relative;
    opacity: 0;
    transition: 0.5s;
    z-index: 999;
}

.messages li.hide1 {
    top: -25px;
    transition: 0.5s;
}

.messages li.show {
    top: 0;
    opacity: 1;
    transition: 0.5s;
}

.messages li.hide2 {
    top: 25px;
    transition: 0.5s;
}

.messages li {
    height: 40px;
    list-style: none;
    margin-bottom: 20px;
    border-radius: 20px;
    line-height: 40px;
}

.messages li.error {
    background-color: red;
}

.messages li.warning {
    background-color: orange;
}

.messages li.success {
    background-color: green;
}