{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>ItTakesLowest</title>
    <link rel="stylesheet" href={% static 'css/style.css' %}>
    <script src={% static 'js/clipboard.min.js' %}></script>
    <script src={% static 'js/script.js' %}></script>
    {% block script %}{% endblock script %}
</head>

<body>
    <div class="header">
        <ul class="nav justify-content-center">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'joingame' %}">Присоединиться к игре</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'newgame' %}">Создать игру</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'allgames' %}">Все игры</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">Профиль</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'logout' %}">Выйти</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'register' %}">Начать играть</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'login' %}">Продолжить играть</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="main">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }} hide1">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="container">
        {% block content %}{% endblock content %}
        </div>
    </div>
    <div class="footer">
    </div>
    
</body>

</html>